body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.frame{
    min-width: 40vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: grey;
    padding: 5px;
    border-radius: 5px;

}

.row{
    width: 100%;
    height: 25%;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.cube{
    background-color: lightgrey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    background-color: lightskyblue;
}