body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: none;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}



.frame{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: grey;
    padding: 5px;
    border-radius: 5px;

}

.row{
    width: max-content;
    height: 25%;
    align-self: center;
    display: flex;
    gap: 5px;
}

.cube{
    background-color: lightgrey;
    max-width: 13vw;
    max-height: 13vw;
    width: 7vw;
    height: 7vw;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}

.popup-frame{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.250);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup{
    background-color: white;
    align-items: center;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.popup *{
    margin: 10px;
}

.button{
    transition: 0.5s;
    background-color: #EF6D58;
    border-radius: 6px;
    border: none;
    min-width: 5vw;
    min-height: 2vw;
    padding: 10px;
    color: white;
    margin: 10px;
    cursor: pointer;
}

.button:hover{
    transition: 0.5s;
    color: black;
    background-color: beige ;
}

